# platform settings
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password
ADMIN_EMAIL=admin@example.com

# rabbit mq settings
RABBITMQ_DEFAULT_USER=doccano
RABBITMQ_DEFAULT_PASS=doccano

# database settings
POSTGRES_USER=doccano
POSTGRES_PASSWORD=doccano
POSTGRES_DB=doccano
POSTGRES_HOST=postgres

DB_HOST=db
DB_PORT=5432
DB_NAME=doccano
DB_USER=doccano
DB_PASSWORD=doccano

# Flower settings
FLOWER_BASIC_AUTH=""

# DJANGO Super User
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=password
DJANGO_SUPERUSER_EMAIL=admin@example.com
